<header>
    <nav class="nav-news top-nav">
        <app-sidebar></app-sidebar>
        <div class="content">
            <div class="hide-on-small-only">
                <h2 class="title">Dash News</h2>
            </div>
            <div class="hide-on-med-and-up">
                <h2 class="title">News</h2>
            </div>
            <app-date class="date"></app-date>
        </div>
    </nav>
</header>
<div class="news-loading" *ngIf="preloader.loading">
    <app-preloader></app-preloader>
</div>
<main class="news-main">    
    <div class="content">
        <div  class="router">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>