<ul id="slide-out" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view">
      <img class="background-img" src="assets/images/holding.jpg">
    </div>
  </li>
  <li routerLinkActive="active"><a href="#!" [routerLink]="['/headlines']"><i
        class="material-icons">menu_book</i>Top headlines</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader">Subheader</a></li>
  <li *ngFor="let item of items" routerLinkActive="active">
    <a [routerLink]="[item.url]" class="waves-effect" href="#!">{{item.title}}</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>